.workDays {
  margin: 20px 10px 10px;
}

.titleWorkDays {
  font-size: 13px;
  font-weight: bold;
}

.listWorkDays {
  display: flex;
}

.itemWorkDays {
  display: flex;
  flex-direction: column;
  width: 44px;
}

.dayName {
  font-size: 13px;
  font-weight: normal;
}