@import './color';

.not_work,
.work,
.buttons {
  display: flex;
}

.not_work .square {
  width: 30px;
  height: 30px;
  background-color: $c-grey;
}

.work  .square {
  width: 30px;
  height: 30px;
  border: 1px solid $c-blue;
  background-color: $c-white;
}

.work,
.not_work {
  cursor: pointer;
  width: 50%;
}

.buttons {
  max-width: 300px;
  margin: 20px 0 20px 10px;
}

.text {
  margin-left: 5%;
}