@import "color";

.MainContent {
  padding: 10px;
}

.availabilityCalendar {
  padding-bottom: 10px;
  font-size: 23px;
}

.workSchedule {
  background-color: $c-white;
  height: 100vh;
  width: 600px;
  border-bottom: 3px solid $c-light-grey;
}

.workScheduleTitle {
  padding: 10px;
  font-size: 17px;
  border-top: 3px solid $c-light-blue;
  border-bottom: 1px solid $c-light-grey;
}

.titleWorkHours {
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
}

.titleOFExeptions {
  margin: 20px 0 15px 10px;
  font-size: 14px;
  font-weight: bold;
}

.calendarExeptions {
  display: flex;
  margin-left: 10px;
}
