@import "color";

.form {
  margin: 0 10px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.input-time {
  font-size: 12px;
  width: 150px;
  padding: 7px 0;
}

.button {
  background-color: $c-dark-grey;
  border-radius: 5px;
  color: $c-white;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px 10px;
}

.clock_appeared {
  display: block;
}

.clock_disappeared {
  display: none;
}