@import './color';

.DatePickerContainer {
  width: 40%;
  max-width: 300px;
  min-width: 300px;
  background-color: $white;
  margin-right: 25px;
}

.DatePickerContainer__Title {
  font-size: 1.6rem;
  color: $white;
}

.DatePickerContainer__Header__Content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.DatePickerContainer__Header {
  background-color: $blue;
}

.WeekdayContainer {
  display: flex;
  background-color: $blue;
}

.Week {
  display: flex;
}

.Weekday {
  display: block;
  flex: 1 0 0%;
  padding: 0.8rem;
  background: transparent;
  font-size: 1.2rem;
  color: $white;
  text-align: center;
}

.MonthContainer {
  flex-wrap: wrap;
}

.Month {
  flex: 1 1 auto;
  margin-top: spacing();
  margin-left: spacing();
  max-width: calc(100% - 1.6rem);
  min-width: rem(230px);
}

.Day {
  display: block;
  flex: 1 0 0%;
  width: 14.28571%;
  margin: 0;
  padding: 0.8rem;
  background: #4b646f;
  border: 1px solid $day_border;
  border-radius: 0;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;

}

.Day + .Day,DatePickerContainer__Title
.Day + .EmptyStateDay {
  margin-left: -1px;
}

.Day--selected {
  border: 1px solid #0000FF;
  background: transparent;
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding: 0.6rem 0.7rem;
  font-weight: bold;
}

.Day--notWork {
  background-color: #4b646f;
  z-index: 1;
}

.StandartDay--Work {
  border: 1px solid $day_border;
  background-color: white;
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding:0.8rem;
}

.Day--Work {
  border: 1px solid #00BFFF;
  background-color: white;
  z-index: 1;
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding: 0.6rem 0.7rem;
}

.Day--hovering {
  border: 1px solid $day_hovering_border;
}

.EmptyStateDay {
  background-color: #4b646f;
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding: 0.8rem;
  border: 1px solid $day_border;
}

.EmptyStateDay + .EmptyStateDay,
.EmptyStateDay + .Day {
  margin-left: -1px;
}